/* Container for the button, ensuring it's centered */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically centers the content */
    gap: 20px;
    min-height: 35vh; /* Full viewport height */
    padding-bottom: 50px;
}

/* Button styling */
.hover-btn {
    position: relative;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 250px;
    align-items: center;
}

/* Button hover overlay effect */
.hover-btn-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    transition: bottom 0.4s ease;
}

/* Show overlay when hovered */
.hover-btn:hover .hover-btn-overlay {
    bottom: 0;
}

/* Button text color transition */
.hover-btn-text {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
}

/* Change text color on hover */
.hover-btn:hover .hover-btn-text {
    color: black;
}
