* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--white);
  }

  html {
    scroll-behavior: smooth;
  }

footer {
    min-height: 20vh;
}
  
footer .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
  
footer .container .content h1 {
    font: italic bold 1.5rem "IBM Plex Sans", sans-serif;
}
  
footer .container .content .social {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
footer .container .content .social .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    fill: white;
    transition: 0.2s linear;
}
  
footer .container .content .social .logo:hover {
    background-color: white;
    fill: black;
    transition: 0.2s linear;
}
  
footer .container .content .social p {
    font-weight: bold;
}
/* Responsive Adjustments for Mobile */
@media (max-width: 768px) {
    footer .container .content h2 {
        font-size: 1.5rem;
    }
    footer .social .logo {
        width: 40px;
        height: 40px;
    }
}
